<section id="header">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div id="logo" class="navbar-brand">
            <a [routerLink]="['/']"><img src="../../assets/images/logo-round.png" alt="" /></a>
          </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a [routerLink]="['/artistas']">ARTISTAS</a></li>
            <li><a [routerLink]="['/', 'felipe-cardim']">Piercing</a></li>
            <li><a class="active" [routerLink]="['/unidades']">UNIDADES</a></li>
            <li><a [routerLink]="['/faca-parte']">FAÇA PARTE</a></li>
            <li><a href="https://blog.donttouch.com.br" target="_blank">Blog</a></li>
            <li><a href="https://shop.donttouch.com.br" target="_blank">Shop</a></li>
            <li><a [routerLink]="['/contato']">CONTATO</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </nav>
    </div>
  </div>
</section>
<section id="info-nosas">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 text-center col-sm-12 col-xs-12">
          <h2>NOSSAS UNIDADES</h2>
        </div>
        <div class="col-lg-6 flush text-center col-sm-6 col-xs-12">
          <div class="col-lg-12 bg1 sp text-center col-sm-12 col-xs-12">
            <h3>São Paulo </h3>
            <p>Av. Divino Salvador, 548 - Planalto Paulista - São Paulo - SP<br/> (11) 5572-0764</p>
          </div>
        </div>
        <div class="col-lg-6 flush text-center col-sm-6 col-xs-12">
          <div class="col-lg-12 bg2 sp text-center col-sm-12 col-xs-12">
            <h3>São Paulo </h3>
            <p>AvAv. Divino Salvador, 548 - Planalto Paulista - São Paulo - SP<br/> (11) 5572-0764</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
